/* Scss Document */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

$mainColor: #000;
$secColor: #FFF;
$grey: #F7F7F7;
$border: 4px solid #000;
$wborder: 4px solid #FFF;
$font: 'Work Sans', sans-serif;
@mixin fontDefault {
	text-transform: uppercase;
	letter-spacing: 2px;
}
@mixin flexRowWrap {
	display: flex;
	flex-flow: row wrap;
}

body, html {
	font-family: $font;
	font-size: 1rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.siteContent {
	z-index: 1;
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: $secColor;
	-webkit-box-shadow: #CCC 0 7px 10px 0;
	-moz-box-shadow: #CCC 0 7px 10px 0;
	box-shadow: #CCC 0 7px 10px 0;
}

.parallax {
	max-width: 1440px;
	margin: 0 auto 450px;
	padding-bottom: 4em;
		
}

h2 {
	@include fontDefault;
	font-size: 1rem;
	
	&:after {
		content: "";
		display: block;
		width: 30px;
		height: 2px;
		background: $mainColor;
		margin: 1em auto;
	}
}

h5, h1 {
	font-weight: 700;
	font-size: 2.5rem;
	@include fontDefault;
}

h1 {
	color: $mainColor;
}

h5 {
	color: $secColor;
}

.button {
	border: $wborder;
	background: transparent;
	color: $secColor;
	font-size: 1.2rem;
	font-weight: 700;
	padding: .5em 2em;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em $secColor;
}

.button {  
  color: $secColor;;
  transition: 0.5s;
  
  &:hover,
  &:focus { 
    border-color: $secColor;
    color: $mainColor;
  }
}

.bbutton {
	border: $border;
	background: transparent;
	color: $mainColor;
	font-size: 1.2rem;
	padding: .5em 2em;
	font-weight: 700;
}

.bfill:hover,
.bfill:focus {
 	box-shadow: inset 0 0 0 2em $mainColor;
}

.bbutton {  
  color: $mainColor;
  transition: .5s;
  
  &:hover,
  &:focus { 
    border-color: $mainColor;
    color: $secColor;
  }
}



a {
	text-decoration: none;
	color: $mainColor;
	@include fontDefault;
}

ul {
	list-style: none;
	padding: 0;
	
	ul {
		padding-left: 2em;
	}
}

img {
	width: 100%;
	height: auto;
}

input, textarea {
	border: $border;
	padding: 1em 2em;
	width: 200px;
}

input[type="submit"] {
	cursor: pointer;
	width: 50px;
	background: $mainColor;
	color: $secColor;
	text-transform: uppercase;
	padding-right: 3.5em;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 1em 1em 0;
	height: 80px;
	max-width: 1440px;
	margin: 0 auto;
	background: $secColor;
	z-index: 2;
	
	.logo {
		width: 300px;
		height: auto;
	}
	
	nav {
		@include flexRowWrap;
		justify-content: flex-end;
		
		ul {
			@include flexRowWrap;
			height: 30px;
		}

		li {
			margin-right: 2em;
			display: inline-block;
		
		}
		
		a {
			text-transform: uppercase;
			display: block;
			position: relative;
			margin: 0 .5em;
			padding: 0 0 10px 0;
		}
		
		a:after {
			transition: all .5s;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 0%;
			content: '.';
			color: transparent;
			background: $mainColor;
			height: 4px;
		}
		
		a:hover:after {
			width: 100%;
		}
		
		.hburger {
			margin-top: .8em;
			display: none;
			
			span {
				display: block;
				width: 50px;
				height: 4px;
				background: $mainColor;
				-moz-transition: .5s ease-in-out all;
				transition: .5s ease-in-out all;
			}
			
			span:nth-child(2), span:nth-child(3) {
				margin-top: 8px;
			}	
		}
		
		.hburger:hover {
			cursor: pointer;
			span:nth-child(3), span:nth-child(1) {
				width: 45px;
			}
		}
	
	}
	
	@media(max-width: 1280px ) {
		nav {
			display: flex;
			flex-flow: column nowrap;
			width: 100%;
			
			ul {
				display: none;
				flex-flow: column nowrap;
				width: 100%;
				height: auto;
				z-index: 2;
				position: absolute;
				left: 0;
				right: 0;
				padding: 2em 0;
				background: $secColor;
				text-align: center;
				animation: .5s navAni;
				
				li {
					display: block;
					margin: 1.5em 0 0 0;
						
					a {
						display: inline-block;
					}
				}
			}
			
			.login, .search {
				display: none;
			}
			
			.hburger {
				position: fixed;
				right: 2em;
				top: .8em;
				display: block;
				
			}
		}
		
		ul.active {
			display: flex;
			top: 64px;
		}
		
		@keyframes navAni {
			0% {
				top: -250px;
			}
			
			100% {
				top: 64px;
			}
		}
	}
	
	
	.search {
		background: url(../gfx/icons/search.svg) no-repeat center center;
		background-size: 30% 30%;
		height: 50px;
		width: 50px;
		border: $border;
		margin-left: 2em;
		padding: 0 !important;
		transition: .5s;
		
	}
	
	.search:hover {
		cursor: pointer;
	}
	
	.search:hover span {
		display: block;
		background: url(../gfx/icons/search_white.svg) no-repeat center center;
		background-size: 30% 30%;
		height: 50px;
		width: 50px;
		z-index: 2;
	} 
	
	.sfill:hover {
		box-shadow: inset 0 0 0 2em $mainColor;
		z-index: 1;
	}
}

.spotlight, .social, .contact  {
	display: flex;
	flex-flow: row wrap;
	margin-top: 80px;
	
	.arrival {
		max-width: 900px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		
		div {
			position: absolute;
		}
	}
	
	.teaser {
		display: flex;
		flex-flow: column nowrap;
		margin-left: 10px;
			
		.teaserItem {
			display: flex;
			flex-flow: row nowrap;
			max-width: 500px;

			img {
				width: 250px;
				height: 250px;
			}

			div {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center,
				
			}
			
			p {
				font-size: .9em;
				padding: 0 1em;
			}
		}
	}
	
}

@media (max-width: 1440px) {
	
	.spotlight, .imagePart, .imagePartRev {
		padding: 0 1em;
		
		.arrival {
			max-width: 100%;
			width: 100%;
		}
	
		.teaser {
			flex-flow: row wrap;
			max-width: 100%;
			width: 100%;
			margin: 10px 0 0 0;
			
			.teaserItem {
				max-width: 50%;
				width: 50%;
			}
			
			.teaserItem:nth-child(2){
				.flexItem:nth-child(1) {
					order: 2;
				}
			
				.flexItem:nth-child(2) {
					order: 1;
				}
			}	
		}
	}
}

@media (max-width: 992px) {
	.spotlight {
		
		.arrival {
			max-width: 100%;
			width: 100%;
		}
	
		.teaser {
			flex-flow: column wrap;
			max-width: 100%;
			width: 100%;
			margin: 10px 0 0 0;
			
			.teaserItem {
				display: flex;;
				justify-content: center;
				align-items: center;
				max-width: 100%;
				width: 100%;
				
				.flexItem {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					flex-flow: column nowrap;
					
				}
			}
			
			.teaserItem:nth-child(2) {
				.flexItem:nth-child(1){
					order: 1;
				}
				.flexItem:nth-child(2){
					order: 2;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.contactInfo {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	.formCol {
		float: none !important;
		width: 100% !important;
	}
	
	input, textarea {
		width: 100% !important;
		box-sizing: border-box;
	}
	
	input[type="submit"] {
		margin: 0 !important;
		padding: .5em;
	}
}

.imagePart, .imagePartRev {
		margin: 4em 0;
	
		.imageFlex, .imageFlexRev {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;

		.imageText, .imageTextRev {
			width: 45%;
		}
			
			.imageImg {
				img:nth-child(2){
					display: none;
				}
			}
		}
	
		.imageFlexRev div:nth-child(1) {
			max-width: 50%;
		}	
}

.bestProducts {
	display: flex;
	flex-flow: row nowrap;
	
	.bestItem {
		position: relative;
		box-sizing: border-box;
		max-width: 25%;
		padding: .5em;
		
		figcaption {
			display: none;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	
	.bestItem:hover {
		figcaption {
			display: flex;
			cursor: pointer;
		}
	}
}

@media (max-width: 1365px){
	.imagePart {
		.imageFlex{
			.imageText{
				width: 100%;
				column-count: 2;
				column-gap: 2em;
			}
			
			p {
				margin: 0;
			}
			
			.imageImg{
				display: flex;
				overflow: hidden;
				margin-top: 2em;
				
				img {
					margin: 0 .5em 0 0;
					
				}
			}

			
			.imageImg {
				img:nth-child(2){
				display: block;
				}
			}
		}
	} 
	
	.imagePartRev {
		img {
			max-width: 550px;
		}
	}
	
	.bestProducts {
		flex-wrap: wrap;
		justify-content: center;
		
		.bestItem {
			max-width: 50%;
		}
	}
}

.social {
	.quote {
		position: relative;
		
		h1 {
			color: $secColor;
			font-size: 2rem;
			padding: 0 4em;
		}
		
		p {
			color: $secColor;
			font-weight: 700;
		}
	}
	
	figcaption {
		position: absolute;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		top: 0;
		text-align: center;
		
		div:nth-child(2){
			position: absolute;
			display: flex;
			width: 100%;
			justify-content: center;
			bottom: 1em;
		}
	}
	
	
	.socialText {
		display: flex;
		flex-flow: row wrap;
		margin-top: 2em;
		
		p {
			column-count: 2;
			column-gap: 2em;
		}
		
		div:first-child {
			width: 33.3%;
		}
		
		div:nth-child(2){
			width: 66.6%;
		}
	}
}

.contact {
	display: flex;
	flex-direction: row;
	
	.contactItem {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		
		.phone, .mail {
			margin-top: 3em;
			position: relative;
			display: flex;
			align-items: center;
			height: 2em;
			
			span {
				display: block;
				position: absolute;
				background-position: center center;
				left: -105px;
				height: 50px;
				width: 50px;
				border: $border;
				margin-left: 2em;
				padding: 0 !important;
				transition: .5s;
			}
			
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				-webkit-transition: .5s all ease-in-out;
				-moz-transition: .5s all ease-in-out;
				transition: .5s all ease-in-out;
				
				&:hover {
					font-weight: 700;
				}
			}
		}
		
		}
			
			.phone span {
				background: url(../gfx/icons/phone.svg) no-repeat;
				background-size: 30% 30%;
				margin-bottom: 1em;
			}
			
			.mail span {
				background: url(../gfx/icons/mail.svg) no-repeat;
				background-size: 30% 30%;
			}
}


.contactForm {
	.formRow, .submit {
		width: 50%;

		.formCol {
			width: 50%;
			float: left;
		}

		.formCol:nth-child(1) {
			display: flex; 
			flex-direction: column;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		input, textarea {
			width: 84%;
			margin-top: .8em;
		}
	}
	
	.submit {
		display: flex;
		justify-content: flex-end;
		
		input[type="submit"] {
			width: 190px;
			margin-right: .75em;
			background: transparent;
			color: $mainColor;
		}
		
		input[type="submit"]:hover {
			color: $secColor;
		}
	}
}

.people {
	display: flex;
	flex-flow: row wrap;
	margin-top: 80px;
	
	.peopleItem {
		display: flex; 
		flex-flow: row nowrap;
		width: 50%;
	}
	
	.peopleImg, .peopleText {
		width: 50%;
	}
	
	.peopleText,  {
		position: relative;
		display: flex; 
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: left;
		padding: 0 2em;
		box-sizing: border-box;
		
		a, h4 {
			text-align: left;
			width: 100%;
		}
		
		&:after {
			content: "";
			position: absolute;
			left: -25px;
			display: block;
			width: 50px;
			height: 50px;
			background: $secColor;
			transform: rotate(-45deg);
		}
	}
}





.siteFooter {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 3em;
	/* height: 450px; */
	background: $grey;
	z-index: -1;
	
	a {
		text-transform: none;
		transition: .5s all ease-in-out;
	}
	
	a:hover {
		font-weight: 700;
	}
	
	li {
		margin-bottom: .5em;
		
		li {
			margin-bottom: .3em;
		}
		
		li:first-child {
			margin-top: .3em;
		}
	}
	
	.footerItem {
		margin: 2em 8em 0 0;
		
		h2 {
			margin-top: 2em
		}
		
		h2:after {
			display: none;
		}
	}
	
	.payments {
		display: flex;
		flex-flow: row wrap;
		max-width: 260px;
			
			img {
				max-width: 80px;
				height: 50px;
				}
	}
	
	.copyright {
		display: inline-block;
		position: fixed;
		bottom: .5em;
		left: 2em;
		
		p {
			font-size: .7em;
		}
	}
}

@media(max-width: 1024px) {
	.parallax {
		margin: 0 auto 0;
	}
	
	.siteFooter {
		justify-content: center;
		position: relative;
		z-index: 1;
		text-align: center;
		
		.footerItem {
			width: 100%;
			padding: 0 2em 2em;
			margin: 0;
		}
		
		.payments {
			max-width: none;
			justify-content: center;
		}
		
		ul ul {
			padding: 0;
		}
		
		.copyright {
			position: relative;
			left: 0;
		}
	}
	
	.imagePartRev {
		.imageFlexRev {
			.imageTextRev {
				width: 80%;
			}
		}
		
		.imageFlexRev:nth-child(1), img, .imageFlexRev div:nth-child(1) {
			max-width: none;
		}
	}
	
	.formRow, .submit, .contactItem, .contactForm {
		width: 100% !important;
		padding: 1em !important;
		box-sizing: border-box;
		text-align: center;
	}
	
	.contactInfo {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	

}

@media(max-width: 550px) {
	h5 {
		font-size: 1.5rem;
	}
	
	.spotlight {
		.teaser {
			.teaserItem {
				flex-flow: column nowrap;
				
				.flexItem:nth-child(1) {
					order: 2;
				} 
				
				.flexItem:nth-child(2) {
					order: 1;
				} 
				
				p {
					padding: 0 2em 4em;
				}
				
				h2 {
					padding-top: 3em;
				}
			}
		}
	}
	
	.imageText {
		column-count: 1 !important;
	}
	
	.imageImg img:nth-child(2) {
		display: none !important;
	}
	
	.bestProducts {
		.bestItem {
			max-width: none;
		}
	}
	
	.imageTextRev {
		width: 100% !important;
	}
	
}


