/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
body, html {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 0;
  margin: 0; }

.siteContent {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #FFF;
  -webkit-box-shadow: #CCC 0 7px 10px 0;
  -moz-box-shadow: #CCC 0 7px 10px 0;
  box-shadow: #CCC 0 7px 10px 0; }

.parallax {
  width: 1440px;
  margin: 0 auto 450px;
  padding-bottom: 4em; }

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem; }
  h2:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    margin: 1em auto; }

h5, h1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

h1 {
  color: #000; }

h5 {
  color: #FFF; }

.button {
  border: 4px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5em 2em; }

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em #FFF; }

.button {
  color: #FFF;
  transition: 0.5s; }
  .button:hover, .button:focus {
    border-color: #FFF;
    color: #000; }

.bbutton {
  border: 4px solid #000;
  background: transparent;
  color: #000;
  font-size: 1.2rem;
  padding: .5em 2em;
  font-weight: 700; }

.bfill:hover,
.bfill:focus {
  box-shadow: inset 0 0 0 2em #000; }

.bbutton {
  color: #000;
  transition: .5s; }
  .bbutton:hover, .bbutton:focus {
    border-color: #000;
    color: #FFF; }

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px; }

ul {
  list-style: none;
  padding: 0; }
  ul ul {
    padding-left: 2em; }

img {
  width: 100%;
  height: auto; }

input {
  border: 4px solid #000;
  padding: 1em 2em;
  width: 200px; }

input[type="submit"] {
  cursor: pointer;
  width: 50px;
  background: #000;
  color: #FFF;
  text-transform: uppercase;
  padding-right: 3.5em; }

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1em;
  height: 80px; }
  header .logo {
    width: 300px;
    height: auto; }
  header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    header nav ul {
      display: flex;
      flex-flow: row wrap;
      height: 30px; }
    header nav li {
      margin-right: 2em;
      display: inline-block; }
    header nav a {
      text-transform: uppercase;
      display: block;
      position: relative;
      margin: 0 .5em;
      padding: 0 0 10px 0; }
    header nav a:after {
      transition: all .5s;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #000;
      height: 4px; }
    header nav a:hover:after {
      width: 100%; }
  header .search {
    background: url(../gfx/icons/search.svg) no-repeat center center;
    background-size: 30% 30%;
    height: 50px;
    width: 50px;
    border: 4px solid #000;
    margin-left: 2em; }

.spotlight {
  display: flex;
  flex-flow: row nowrap; }
  .spotlight .arrival {
    max-width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .spotlight .arrival div {
      position: absolute; }
  .spotlight .teaser {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px; }
    .spotlight .teaser .teaserItem {
      display: flex;
      flex-flow: row nowrap;
      max-width: 500px; }
      .spotlight .teaser .teaserItem img {
        width: 250px;
        height: 250px; }
      .spotlight .teaser .teaserItem div {
        text-align: center;
        padding: 1em; }
      .spotlight .teaser .teaserItem p {
        font-size: .9em; }

.imagePart {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0; }
  .imagePart .imageText {
    padding: 0 4em;
    width: 45%; }
    .imagePart .imageText p {
      margin: 0 0 3em 0; }

.bestProducts {
  display: flex;
  flex-flow: row wrap; }
  .bestProducts .bestItem {
    position: relative;
    box-sizing: border-box;
    max-width: 25%;
    padding: .5em; }
    .bestProducts .bestItem figcaption {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .bestProducts .bestItem:hover figcaption {
    display: flex;
    cursor: pointer; }

.siteFooter {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
  background: #F7F7F7;
  z-index: -1; }
  .siteFooter a {
    text-transform: none; }
  .siteFooter li {
    margin-bottom: .5em; }
    .siteFooter li li {
      margin-bottom: .3em; }
    .siteFooter li li:first-child {
      margin-top: .3em; }
  .siteFooter .footerItem {
    margin: 2em 8em 0 0; }
    .siteFooter .footerItem h2 {
      margin-top: 2em; }
    .siteFooter .footerItem h2:after {
      display: none; }
  .siteFooter .payments {
    display: flex;
    flex-flow: row wrap;
    max-width: 260px; }
    .siteFooter .payments img {
      max-width: 80px;
      height: 50px; }
  .siteFooter .copyright {
    display: inline-block;
    position: fixed;
    bottom: .5em;
    left: 2em; }
    .siteFooter .copyright p {
      font-size: .7em; }
