/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
body, html {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 0;
  margin: 0; }

.siteContent {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #FFF;
  -webkit-box-shadow: #CCC 0 7px 10px 0;
  -moz-box-shadow: #CCC 0 7px 10px 0;
  box-shadow: #CCC 0 7px 10px 0; }

.parallax {
  max-width: 1440px;
  margin: 0 auto 450px;
  padding-bottom: 4em; }

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem; }
  h2:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    margin: 1em auto; }

h5, h1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

h1 {
  color: #000; }

h5 {
  color: #FFF; }

.button {
  border: 4px solid #FFF;
  background: transparent;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5em 2em; }

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em #FFF; }

.button {
  color: #FFF;
  transition: 0.5s; }
  .button:hover, .button:focus {
    border-color: #FFF;
    color: #000; }

.bbutton {
  border: 4px solid #000;
  background: transparent;
  color: #000;
  font-size: 1.2rem;
  padding: .5em 2em;
  font-weight: 700; }

.bfill:hover,
.bfill:focus {
  box-shadow: inset 0 0 0 2em #000; }

.bbutton {
  color: #000;
  transition: .5s; }
  .bbutton:hover, .bbutton:focus {
    border-color: #000;
    color: #FFF; }

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px; }

ul {
  list-style: none;
  padding: 0; }
  ul ul {
    padding-left: 2em; }

img {
  width: 100%;
  height: auto; }

input {
  border: 4px solid #000;
  padding: 1em 2em;
  width: 200px; }

input[type="submit"] {
  cursor: pointer;
  width: 50px;
  background: #000;
  color: #FFF;
  text-transform: uppercase;
  padding-right: 3.5em; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1em 1em 0;
  height: 80px;
  max-width: 1440px;
  margin: 0 auto;
  background: #FFF;
  z-index: 2; }
  header .logo {
    width: 300px;
    height: auto; }
  header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    header nav ul {
      display: flex;
      flex-flow: row wrap;
      height: 30px; }
    header nav li {
      margin-right: 2em;
      display: inline-block; }
    header nav a {
      text-transform: uppercase;
      display: block;
      position: relative;
      margin: 0 .5em;
      padding: 0 0 10px 0; }
    header nav a:after {
      transition: all .5s;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #000;
      height: 4px; }
    header nav a:hover:after {
      width: 100%; }
    header nav .hburger {
      margin-top: .8em;
      display: none; }
      header nav .hburger span {
        display: block;
        width: 50px;
        height: 4px;
        background: #000;
        -moz-transition: .5s ease-in-out all;
        transition: .5s ease-in-out all; }
      header nav .hburger span:nth-child(2), header nav .hburger span:nth-child(3) {
        margin-top: 8px; }
    header nav .hburger:hover {
      cursor: pointer; }
      header nav .hburger:hover span:nth-child(3), header nav .hburger:hover span:nth-child(1) {
        width: 45px; }
  @media (max-width: 1280px) {
    header nav {
      display: flex;
      flex-flow: column nowrap;
      width: 100%; }
      header nav ul {
        display: none;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        padding: 2em 0;
        background: #FFF;
        text-align: center;
        animation: .5s navAni; }
        header nav ul li {
          display: block;
          margin: 1.5em 0 0 0; }
          header nav ul li a {
            display: inline-block; }
      header nav .login, header nav .search {
        display: none; }
      header nav .hburger {
        position: fixed;
        right: 2em;
        top: .8em;
        display: block; }
    header ul.active {
      display: flex;
      top: 64px; }
    @keyframes navAni {
      0% {
        top: -250px; }
      100% {
        top: 64px; } } }
  header .search {
    background: url(../gfx/icons/search.svg) no-repeat center center;
    background-size: 30% 30%;
    height: 50px;
    width: 50px;
    border: 4px solid #000;
    margin-left: 2em;
    padding: 0 !important;
    transition: .5s; }
  header .search:hover {
    cursor: pointer; }
  header .search:hover span {
    display: block;
    background: url(../gfx/icons/search_white.svg) no-repeat center center;
    background-size: 30% 30%;
    height: 50px;
    width: 50px;
    z-index: 2; }
  header .sfill:hover {
    box-shadow: inset 0 0 0 2em #000;
    z-index: 1; }

.spotlight, .social {
  display: flex;
  flex-flow: row wrap;
  margin-top: 80px; }
  .spotlight .arrival, .social .arrival {
    max-width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .spotlight .arrival div, .social .arrival div {
      position: absolute; }
  .spotlight .teaser, .social .teaser {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px; }
    .spotlight .teaser .teaserItem, .social .teaser .teaserItem {
      display: flex;
      flex-flow: row nowrap;
      max-width: 500px; }
      .spotlight .teaser .teaserItem img, .social .teaser .teaserItem img {
        width: 250px;
        height: 250px; }
      .spotlight .teaser .teaserItem div, .social .teaser .teaserItem div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .spotlight .teaser .teaserItem p, .social .teaser .teaserItem p {
        font-size: .9em;
        padding: 0 1em; }

@media (max-width: 1440px) {
  .spotlight, .imagePart, .imagePartRev {
    padding: 0 1em; }
    .spotlight .arrival, .imagePart .arrival, .imagePartRev .arrival {
      max-width: 100%;
      width: 100%; }
    .spotlight .teaser, .imagePart .teaser, .imagePartRev .teaser {
      flex-flow: row wrap;
      max-width: 100%;
      width: 100%;
      margin: 10px 0 0 0; }
      .spotlight .teaser .teaserItem, .imagePart .teaser .teaserItem, .imagePartRev .teaser .teaserItem {
        max-width: 50%;
        width: 50%; }
      .spotlight .teaser .teaserItem:nth-child(2) .flexItem:nth-child(1), .imagePart .teaser .teaserItem:nth-child(2) .flexItem:nth-child(1), .imagePartRev .teaser .teaserItem:nth-child(2) .flexItem:nth-child(1) {
        order: 2; }
      .spotlight .teaser .teaserItem:nth-child(2) .flexItem:nth-child(2), .imagePart .teaser .teaserItem:nth-child(2) .flexItem:nth-child(2), .imagePartRev .teaser .teaserItem:nth-child(2) .flexItem:nth-child(2) {
        order: 1; } }
@media (max-width: 992px) {
  .spotlight .arrival {
    max-width: 100%;
    width: 100%; }
  .spotlight .teaser {
    flex-flow: column wrap;
    max-width: 100%;
    width: 100%;
    margin: 10px 0 0 0; }
    .spotlight .teaser .teaserItem {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      width: 100%; }
      .spotlight .teaser .teaserItem .flexItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap; }
    .spotlight .teaser .teaserItem:nth-child(2) .flexItem:nth-child(1) {
      order: 1; }
    .spotlight .teaser .teaserItem:nth-child(2) .flexItem:nth-child(2) {
      order: 2; } }
.imagePart, .imagePartRev {
  margin: 4em 0; }
  .imagePart .imageFlex, .imagePart .imageFlexRev, .imagePartRev .imageFlex, .imagePartRev .imageFlexRev {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .imagePart .imageFlex .imageText, .imagePart .imageFlex .imageTextRev, .imagePart .imageFlexRev .imageText, .imagePart .imageFlexRev .imageTextRev, .imagePartRev .imageFlex .imageText, .imagePartRev .imageFlex .imageTextRev, .imagePartRev .imageFlexRev .imageText, .imagePartRev .imageFlexRev .imageTextRev {
      width: 45%; }
    .imagePart .imageFlex .imageImg img:nth-child(2), .imagePart .imageFlexRev .imageImg img:nth-child(2), .imagePartRev .imageFlex .imageImg img:nth-child(2), .imagePartRev .imageFlexRev .imageImg img:nth-child(2) {
      display: none; }
  .imagePart .imageFlexRev div:nth-child(1), .imagePartRev .imageFlexRev div:nth-child(1) {
    max-width: 50%; }

.bestProducts {
  display: flex;
  flex-flow: row nowrap; }
  .bestProducts .bestItem {
    position: relative;
    box-sizing: border-box;
    max-width: 25%;
    padding: .5em; }
    .bestProducts .bestItem figcaption {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  .bestProducts .bestItem:hover figcaption {
    display: flex;
    cursor: pointer; }

@media (max-width: 1365px) {
  .imagePart .imageFlex .imageText {
    width: 100%;
    column-count: 2;
    column-gap: 2em; }
  .imagePart .imageFlex p {
    margin: 0; }
  .imagePart .imageFlex .imageImg {
    display: flex;
    overflow: hidden;
    margin-top: 2em; }
    .imagePart .imageFlex .imageImg img {
      margin: 0 .5em 0 0; }
  .imagePart .imageFlex .imageImg img:nth-child(2) {
    display: block; }

  .imagePartRev img {
    max-width: 550px; }

  .bestProducts {
    flex-wrap: wrap;
    justify-content: center; }
    .bestProducts .bestItem {
      max-width: 50%; } }
.social .quote {
  position: relative; }
  .social .quote h1 {
    color: #FFF;
    font-size: 2rem;
    padding: 0 4em; }
  .social .quote p {
    color: #FFF;
    font-weight: 700; }
.social figcaption {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center; }
  .social figcaption div:nth-child(2) {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 1em; }
.social .socialText {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em; }
  .social .socialText p {
    column-count: 2;
    column-gap: 2em; }
  .social .socialText div:first-child {
    width: 33.3%; }
  .social .socialText div:nth-child(2) {
    width: 66.6%; }

.siteFooter {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 3em;
  /* height: 450px; */
  background: #F7F7F7;
  z-index: -1; }
  .siteFooter a {
    text-transform: none;
    transition: .5s all ease-in-out; }
  .siteFooter a:hover {
    font-weight: 700; }
  .siteFooter li {
    margin-bottom: .5em; }
    .siteFooter li li {
      margin-bottom: .3em; }
    .siteFooter li li:first-child {
      margin-top: .3em; }
  .siteFooter .footerItem {
    margin: 2em 8em 0 0; }
    .siteFooter .footerItem h2 {
      margin-top: 2em; }
    .siteFooter .footerItem h2:after {
      display: none; }
  .siteFooter .payments {
    display: flex;
    flex-flow: row wrap;
    max-width: 260px; }
    .siteFooter .payments img {
      max-width: 80px;
      height: 50px; }
  .siteFooter .copyright {
    display: inline-block;
    position: fixed;
    bottom: .5em;
    left: 2em; }
    .siteFooter .copyright p {
      font-size: .7em; }

@media (max-width: 1024px) {
  .parallax {
    margin: 0 auto 0; }

  .siteFooter {
    justify-content: center;
    position: relative;
    z-index: 1;
    text-align: center; }
    .siteFooter .footerItem {
      width: 100%;
      padding: 0 2em 2em;
      margin: 0; }
    .siteFooter .payments {
      max-width: none;
      justify-content: center; }
    .siteFooter ul ul {
      padding: 0; }
    .siteFooter .copyright {
      position: relative;
      left: 0; }

  .imagePartRev .imageFlexRev .imageTextRev {
    width: 80%; }
  .imagePartRev .imageFlexRev:nth-child(1), .imagePartRev img, .imagePartRev .imageFlexRev div:nth-child(1) {
    max-width: none; } }
@media (max-width: 550px) {
  h5 {
    font-size: 1.5rem; }

  .spotlight .teaser .teaserItem {
    flex-flow: column nowrap; }
    .spotlight .teaser .teaserItem .flexItem:nth-child(1) {
      order: 2; }
    .spotlight .teaser .teaserItem .flexItem:nth-child(2) {
      order: 1; }
    .spotlight .teaser .teaserItem p {
      padding: 0 2em 4em; }
    .spotlight .teaser .teaserItem h2 {
      padding-top: 3em; }

  .imageText {
    column-count: 1 !important; }

  .imageImg img:nth-child(2) {
    display: none !important; }

  .bestProducts .bestItem {
    max-width: none; }

  .imageTextRev {
    width: 100% !important; } }
