/* Scss Document */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

$mainColor: #000;
$secColor: #FFF;
$grey: #F7F7F7;
$border: 4px solid #000;
$wborder: 4px solid #FFF;
$font: 'Work Sans', sans-serif;
@mixin fontDefault {
	text-transform: uppercase;
	letter-spacing: 2px;
}
@mixin flexRowWrap {
	display: flex;
	flex-flow: row wrap;
}

body, html {
	font-family: $font;
	font-size: 1rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.siteContent {
	z-index: 1;
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: $secColor;
	-webkit-box-shadow: #CCC 0 7px 10px 0;
	-moz-box-shadow: #CCC 0 7px 10px 0;
	box-shadow: #CCC 0 7px 10px 0;
}

.parallax {
	max-width: 1440px;
	margin: 0 auto 450px;
	padding-bottom: 4em;
		
}

h2 {
	@include fontDefault;
	font-size: 1rem;
	
	&:after {
		content: "";
		display: block;
		width: 30px;
		height: 2px;
		background: $mainColor;
		margin: 1em auto;
	}
}

h5, h1 {
	font-weight: 700;
	font-size: 2.5rem;
	@include fontDefault;
}

h1 {
	color: $mainColor;
}

h5 {
	color: $secColor;
}

.button {
	border: $wborder;
	background: transparent;
	color: $secColor;
	font-size: 1.2rem;
	font-weight: 700;
	padding: .5em 2em;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em $secColor;
}

.button {  
  color: $secColor;;
  transition: 0.5s;
  
  &:hover,
  &:focus { 
    border-color: $secColor;
    color: $mainColor;
  }
}

.bbutton {
	border: $border;
	background: transparent;
	color: $mainColor;
	font-size: 1.2rem;
	padding: .5em 2em;
	font-weight: 700;
}

.bfill:hover,
.bfill:focus {
  box-shadow: inset 0 0 0 2em $mainColor;
}

.bbutton {  
  color: $mainColor;
  transition: .5s;
  
  &:hover,
  &:focus { 
    border-color: $mainColor;
    color: $secColor;
  }
}



a {
	text-decoration: none;
	color: $mainColor;
	@include fontDefault;
}

ul {
	list-style: none;
	padding: 0;
	
	ul {
		padding-left: 2em;
	}
}

img {
	width: 100%;
	height: auto;
}

input {
	border: $border;
	padding: 1em 2em;
	width: 200px;
}

input[type="submit"] {
	cursor: pointer;
	width: 50px;
	background: $mainColor;
	color: $secColor;
	text-transform: uppercase;
	padding-right: 3.5em;
}

header {
	@include flexRowWrap;
	justify-content: space-between;
	margin-top: 1em;
	height: 80px;
	
	.logo {
		width: 300px;
		height: auto;
	}
	
	nav {
		@include flexRowWrap;
		justify-content: flex-end;
		
		ul {
			@include flexRowWrap;
			height: 30px;
		}

		li {
			margin-right: 2em;
			display: inline-block;
		
		}
		
		a {
			text-transform: uppercase;
			display: block;
			position: relative;
			margin: 0 .5em;
			padding: 0 0 10px 0;
		}
		
		a:after {
			transition: all .5s;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 0%;
			content: '.';
			color: transparent;
			background: $mainColor;
			height: 4px;
		}
		
		a:hover:after {
			width: 100%;
		}
	
	}
	
	.login {
		
	}
	
	.search {
		background: url(../gfx/icons/search.svg) no-repeat center center;
		background-size: 30% 30%;
		height: 50px;
		width: 50px;
		border: $border;
		margin-left: 2em;
	}
}

.spotlight {
	display: flex;
	flex-flow: row wrap;
	
	.arrival {
		max-width: 900px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		
		div {
			position: absolute;
		}
	}
	
	.teaser {
		display: flex;
		flex-flow: column nowrap;
		margin-left: 10px;
			
		.teaserItem {
			display: flex;
			flex-flow: row nowrap;
			max-width: 500px;

			img {
				width: 250px;
				height: 250px;
			}

			div {
				text-align: center;
				padding: 1em;
			}
			
			p {
				font-size: .9em;
			}
		}
	}
	
}

@media (max-width: 1440px) {
	
	.spotlight, header, .imagePart, .imagePartRev {
		padding: 0 2em;
		
		.arrival {
			max-width: 100%;
			width: 100%;
		}
	
		.teaser {
			flex-flow: row wrap;
			max-width: 100%;
			width: 100%;
			margin: 10px 0 0 0;
			
			.teaserItem {
				max-width: 50%;
				width: 50%;
			}
			
			.teaserItem:nth-child(2){
				.flexItem:nth-child(1) {
					order: 2;
				}
			
				.flexItem:nth-child(2) {
					order: 1;
				}
			}	
		}
	}
}

@media (max-width: 992px) {
	.spotlight {
		
		.arrival {
			max-width: 100%;
			width: 100%;
		}
	
		.teaser {
			flex-flow: column wrap;
			max-width: 100%;
			width: 100%;
			margin: 10px 0 0 0;
			
			.teaserItem {
				display: flex;;
				justify-content: center;
				align-items: center;
				max-width: 100%;
				width: 100%;
				
				.flexItem {
					width: 50%;
					height: 50%;
					
				}
			}
			
			.teaserItem:nth-child(2) {
				.flexItem:nth-child(1){
					order: 1;
				}
				.flexItem:nth-child(2){
					order: 2;
				}
			}
		}
	}
}

.imagePart, .imagePartRev {
		margin: 4em 0;
	
		.imageFlex, .imageFlexRev {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;

		.imageText, .imageTextRev {
			width: 45%;
		}
			
			.imageImg {
				img:nth-child(2){
					display: none;
				}
			}
	}
}

.bestProducts {
	display: flex;
	flex-flow: row nowrap;
	
	.bestItem {
		position: relative;
		box-sizing: border-box;
		max-width: 25%;
		padding: .5em;
		
		figcaption {
			display: none;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	
	.bestItem:hover {
		figcaption {
			display: flex;
			cursor: pointer;
		}
	}
}

@media (max-width: 1365px){
	.imagePart {
		.imageFlex{
			.imageText{
				width: 100%;
				column-count: 2;
				column-gap: 2em;
			}
			
			p {
				margin: 0;
			}
			
			.imageImg{
				display: flex;
				overflow: hidden;
				margin-top: 2em;
				
				img {
					margin: 0 .5em 0 0;
					
				}
			}

			
			.imageImg {
				img:nth-child(2){
				display: block;
				}
			}
		}
	} 
	
	.imagePartRev {
		img {
			max-width: 550px;
		}
	}
	
	.bestProducts {
		flex-wrap: wrap;
		justify-content: center;
		
		.bestItem {
			max-width: 50%;
		}
	}
}


.siteFooter {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	bottom: 0;
	left: 0;
	width: 100%;
	/* height: 450px; */
	background: $grey;
	z-index: -1;
	
	a {
		text-transform: none;
	}
	
	li {
		margin-bottom: .5em;
		
		li {
			margin-bottom: .3em;
		}
		
		li:first-child {
			margin-top: .3em;
		}
	}
	
	.footerItem {
		margin: 2em 8em 0 0;
		
		h2 {
			margin-top: 2em
		}
		
		h2:after {
			display: none;
		}
	}
	
	.payments {
		display: flex;
		flex-flow: row wrap;
		max-width: 260px;
			
			img {
				max-width: 80px;
				height: 50px;
				}
	}
	
	.copyright {
		display: inline-block;
		position: fixed;
		bottom: .5em;
		left: 2em;
		
		p {
			font-size: .7em;
		}
	}
}

@media(max-width: 768px) {
	.parallax {
		margin: 0 auto 0;
	}
	
	.siteFooter {
		justify-content: center;
		position: relative;
		z-index: 1;
		
		.footerItem {
			width: 100%;
			padding: 2em;
			margin: 0;
		}
	}
}


